.header-layout
{
    z-index: 2;
}

.center-layout
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1 !important;
}

.footer-layout
{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.21%, rgba(0, 0, 0, 0.2) 100%), #2EB66C;
    padding-top: 40px;
    padding-bottom: 40px;
}

.center-box
{
    display: flex !important;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
            
    justify-content: center;
    align-items: center; 
    padding-left: 15px;
    padding-right: 15px;
}

.left-box{
        
    display: flex !important;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.center-box.box-column
{
    flex-direction: column;
    gap: 20px;
}

.center-box .title
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 37.9px;
    line-height: 24px;
    /* identical to box height, or 63% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #333333;  
}

.center-box .description
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #333333;  
    
    max-width: 500px;
}

.advantages-group
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;    
    padding-left: 15px;
    padding-right: 15px;        
}

.advantage-box
{
    display: flex;
    flex-direction: column;
    gap: 5px;
        
    background: #FFFFFF;    
    border-radius: 5px;    
    width: 100%;
}

.advantage-box i
{
    font-size: 20px;
}

.no-shadow{
    box-shadow: none !important;
}

 

.advantage-box-header
{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding:22px;
}

.advantage-title
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 109% */

    letter-spacing: 0.03em;

    color: #F26419;
}

.advantage-info
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: justify;
    letter-spacing: 0.03em;
    
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 22px;

    color: #333333;
}

.submit-button
{
    background: #2EB66C !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;    
    height: 45px;
    border: 0;
    color: white !important;
}

.submit-button:hover
{
    opacity: 0.8;
}

.close-button
{
    background: gray !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;    
    height: 45px;
    border: 0;
    color: white !important;
}

.close-button:hover
{
    opacity: 0.8;
}


#hd_dashboard_horzmenu {
background:none;
max-width: 800px;
overflow:auto;
margin:25px auto;
border:none;
box-shadow:none;
font-family: 'Roboto', sans-serif;

}

body {

background-size:cover !important;
background-position:center center !important;
background-attachment:fixed !important;
font-family: 'Roboto', sans-serif;
}
body a {
	text-decoration:none;
}
body a:hover {
	text-decoration:none;
}

.panel-body{
    background-color: inherit;
}

.media{
    background-color: snow;
}

.tabs-body{
    background-color: snow; padding: 0.5rem;
}

    
.panel-footer {background-color:cadetblue; border-radius: 0px 0px 5px 5px}
.panel-body{padding: 0px !important; }
.container-fluid{ padding-bottom: 10px !important;}


.panel-heading {
    border: 1px solid #bcbcbc;
    border-radius: 5px 5px 0px 0px;     
    background-color: #ffe0b2;    
    display: flex;            
    width: 100%;   
    background-color:cadetblue;     
    border: 1px solid cadetblue !important;
    border-bottom: 2px darkolivegreen solid !important;
    
}

.panel-title{ width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: white !important; font-size: 16px;  margin: 0px; padding: 5px !important; }
.panel-title span{font-size: 20px; color: white;}
.panel-title a{font-size: 20px; color: white;}
.panel-title a:visited{ color: white; }
.panel-title a:hover{ color: white; }
.panel-title a:active{ color: white; }
.panel-title .caret{ float:right; font-size: 28px; cursor: pointer; }
.panel-title .records-count{ float:right; font-size: 14px; padding: 5px 5px 0px 5px; }
.panel-title .records-total{ float:right; font-size: 14px; padding-top: 5px; padding-right: 10px; }

.panel-buttons{ min-width: max-content; display: flex; align-items: center; justify-content: center; padding-left: 10px; padding-right: 10px  }
.panel-buttons i{ font-size:20px;  cursor:pointer; padding-left: 2px; color:white; }
.panel-buttons a{ height: 20px; }
.panel-buttons a:visited{ color: white; }
.panel-buttons a:hover{ color: white; }
.panel-buttons a:active{ color: white; }

.panel-group{ border-radius: 0px 0px 5px 5px;}

.item-heading {
    border: 1px solid #bcbcbc;
    border-radius: 5px 5px 0px 0px;     
    background-color: antiquewhite;    
    display: flex;            
    width: 100%;   
   
}

.item-cod{ min-width: 100px; display: flex; align-items: center; justify-content: flex-start; font-weight: bold; font-size: 14px; padding-left: 5px; color: gray; }
.item-title{ width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #4765AB !important; font-weight: bold; font-size: 16px; padding: 5px !important;  text-align: center;     }
.item-buttons{ min-width: max-content; display: flex; align-items: center; justify-content: center; padding-left: 10px; padding-right: 10px }
.item-buttons i{ font-size:18px;  cursor:pointer; padding-right: 2px; padding-left: 2px; }

.item-buttons-box{ min-width: max-content !important; padding: 8px !important; background: snow !important;}
.item-buttons-box i{  min-width: 30px; padding: 5px !important;}
.item-buttons-box div { cursor: pointer !important;}



.colapse-item-heading{
    border: 1px solid #bcbcbc;
    border-radius: 0px 0px 0px 0px;     
    background-color: antiquewhite;    
    display: flex;            
    width: 100%;   
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.colapse-item-body{ border: 1px solid #bcbcbc; background-color: snow; }
.colapse-item-title{ width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.colapse-item-buttons{ min-width: 20px; display: flex; align-items: center; justify-content: center;  }
.colapse-item-cod{ min-width: 100px; display: flex; align-items: center; justify-content: flex-start; padding-left: 5px;  }
.colapse-item-buttons i{ cursor: pointer;  }



table{background:none;color:#444;border-spacing:0;border:0px solid #e2e2e2;border-radius:3px;moz-border-radius:3px;overflow:hidden;webkit-border-radius:3px;width:100%;font-size:13px;}
table th,td{padding:10px 20px;text-align:left;}
table th{background:aliceblue;color:#444;padding:10px 20px;border:0px solid #e2e2e2;text-align:center;font-weight:normal;}
table td{color:#666;background:#fff;border-bottom:1px solid #e2e2e2; word-break: break-all;}
table tr.odd-row td{background:#f7f7f7}
table td.first,th.first{text-align:left}
table td.last{border-right:none}

table {
	border:1px solid #e2e2e2;
	
}
table tr:nth-child(even) td {
	background:snow;
	
}
table tr:nth-child(odd) td {
	background:seashell;	
	

}

table tr:nth-child(odd) td {
	background:seashell;
}


input[type="text"] , input[type="password"] ,input[type="date"],input[type="datetime"], input[type="email"], textarea ,select {
background:#fff;
font-family: 'Roboto', sans-serif;
height:40px;
line-height:40px;
margin:5px 0;
border-radius:3px;
border:1px solid #e2e2e2;
transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
    transform-origin: 0 0 0;
	-ms-transform-origin: 0 0 0;
	-webkit-transform-origin: 0 0 0;
    transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out;

opacity: 1;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
color:#444;
outline:none;
padding:0 15px;
width:100%;
font-size:13px;
box-sizing:border-box;
}
input[type="text"]:focus ,input[type="password"]:focus, textarea:focus , select:focus  {
border-color:#419E4D;
outline:none;
}
input[type="text"]:hover ,input[type="password"]:hover ,textarea:hover ,select:hover {
border-color:#1067A0;
outline:none;
}
textarea {
min-height:150px;	
}



input[type="submit"] , .sbmt {
	font-family: 'Roboto', sans-serif;
padding:10px 25px; transition-property: background;
transition-duration: 0.2s;
transition-timing-function: linear;
background:#200040;color:#fff;
border:0px solid #e2e2e2;outline:none;font-weight:300;font-size:15px;border-radius:3px;
margin:5px 5px 5px 0px;
}

input[type="submit"]:hover , .sbmt:hover {
background:#179b83   ;

}




.section-box{margin:0 auto  !important; }
.listing-block{background-color:aliceblue; padding-left: 0px  !important; padding-right: 0px  !important; margin-top:15px  !important;  margin-bottom:5px  !important; }
.item {border:1px solid #bcbcbc  !important;  background:snow  !important; position:relative  !important; box-shadow: 3px 5px 10px #bbb; -webkit-box-shadow: 3px 5px 10px #bbb;}





.align-items-middle
{
    display: flex;
    align-items: center;
}

.panel-dropdown{
    display: flex;
    align-items: center;
    padding-right: 10px;    
}

.panel-dropdown .btn{
    color: white;
    padding: 0px !important;
    font-size: 14px !important;
}

.panel-dropdown .btn:hover{
    color: white !important;
}

.panel-dropdown.show{
    display: flex !important;
}






.media{display: flex; padding-bottom: 10px;}
.media img{width:200px;margin:0; height:160px; border-radius:5%; padding: 5px}
.media-body{ height:100%; padding-left: 1rem; padding-right: 1rem;}
.media .site{ width:100%;font-size:14px; margin-top:10px; color:#888;}
.media .price{ width:100%; font-size:30px;font-weight:600; color:#4765AB;}
.media .price small{display:block; font-size:17px; color:#232323;}
.media .topInfo {display:flex; justify-content: space-between; padding-top: 5px;}
.media .topInfo .topInfoTitle small{ font-size:17px; color:#232323;}
.media .stats{ width:100%; margin-top:10px; display: flex; }
.media .status{ width:100%; margin-top:10px; display: flex; font-size: 13px; }
.media .stats div{ margin-right:10px; font-size:15px;}
.media .stats div i{color:#4765AB;}
.media .address{ width:100%;font-size:14px; margin-top:5px; color:#888;}
.media .fav-box{position:absolute; right:10px; font-size:20px; top:4px; display: flex;}
.media i{ padding-right: 5px;}

.media-list{ padding: 10px 10px 5px 10px !important;}

.disp i{ padding-right: 5px;}

.site a{ word-break: break-all;}


.emptyList { text-align: center; padding:20px !important; display: block; }


.row {
    display: flex !important; 
    display: -webkit-flex;
    flex-direction: row;            
    flex-wrap: wrap;
    height: 100%;
    margin: 0px !important;
  }
  
  .isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.noSidePadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url(../../resources/img/loading.gif) no-repeat center center;
  z-index: 10000;
}

.mediaTag{    
    left: 0;
    right: auto;
    top: 0;
    padding: 12px 15px;
    line-height: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    text-shadow: none;
    font-weight: 700;
    opacity: .9;
    font-size: 1em;
    position: absolute;    
    color: #fff;
    z-index: 2;
    background-color: indianred;
}



.form-control{ margin: 0px !important;  border-color: #6c757d !important; }




.mapBox{
    text-align: center
}

.map{
    display: inline-block;
}

@media only screen and (max-width: 36em)
{
    .map {   
    height: 250px !important;
}




}

@media only screen and (max-width: 36em)
{
    .media-list{
    justify-content: center;
    }
        
}

@media only screen and (max-width: 600px)
{
    .player{
    width: 400px !important;
    height: 225px !important;
    }
    
    .advantages-group{
        flex-direction: column !important;
    }
       
}

@media only screen and (max-width: 430px)
{
    .player{
    width: 330px !important;
    height: 185px !important;
    }     
    
    .center-box .title
    {
        font-size: 24px !important;
        line-height: 24px !important;
    }
    
    .center-box .description
    {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    
    .showAllLink
    {
        font-size: 16px !important;
    }
    
    .advantage-title
    {
        font-size: 18px !important;
    }
    
    .advantage-info
    {
        font-size: 14px !important;
    }
    
    .footer-links
    {
        flex-direction: column !important;
        gap: 10px !important;
    }
    
    .footer
    {
        flex-direction: column !important;
    }
    
    .footer .navbar-logo
    {
        display: none;
    }
    
    .footer-info, .footer-group-links
    {
        text-align: center;
    }
    
    .searchBox
    {
        flex-direction: column !important;
        height: 120px !important;
    }
    
    .bt-search
    {
        width: 100% !important;
    }
}


.select-size  input{
  display: none;
}

.select-size label {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 40px;
  cursor: pointer
}

.select-size input:checked + label {
     background: #999;
  color: #fff;
    }

    
    /* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


.social-bt
{
    background: transparent;
    border: none;
}

.social-bt i
{    
    font-size: 20px;
}