<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"        
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:task="http://www.springframework.org/schema/task"                    
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
            	
<task:annotation-driven />
      
    <mvc:annotation-driven>
        <mvc:message-converters>
            <beans:bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <beans:bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>
       
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
    <context:component-scan base-package="com.javatpoint" />
    
    
    <beans:bean id="taskAgent" class="com.javatpoint.util.TaskAgent"></beans:bean>
                                
    <beans:bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <beans:property name="viewResolvers">
            <beans:list>
                <beans:bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
                    <beans:property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
                </beans:bean>
                <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <beans:property name="prefix" value="/"/>
                </beans:bean>
            </beans:list>
        </beans:property>
    </beans:bean>
	
	
	
    <beans:bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <beans:property name="definitions">
            <beans:list>
                <beans:value>/WEB-INF/tiles.xml</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="preparerFactoryClass" value="org.springframework.web.servlet.view.tiles3.SpringBeanPreparerFactory"/>
    </beans:bean>
    
    <beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <beans:property name="basename" value="message" />
    </beans:bean>	
    
    
    <beans:bean id="userService" class="com.javatpoint.service.UserServiceImpl" />
	<beans:bean id="userDao" class="com.javatpoint.dao.UserDaoImpl" />
	<beans:bean id="hotelService" class="com.javatpoint.service.HotelServiceImpl" />
	<beans:bean id="hotelDao" class="com.javatpoint.dao.HotelDaoImpl" />
	<beans:bean id="addressService" class="com.javatpoint.service.AddressServiceImpl" />	
	<beans:bean id="addressDao" class="com.javatpoint.dao.AddressDaoImpl" />
        <beans:bean id="unitDao" class="com.javatpoint.dao.UnitDaoImpl" />
        <beans:bean id="unitService" class="com.javatpoint.service.UnitServiceImpl" />
        <beans:bean id="disponibilityDao" class="com.javatpoint.dao.DisponibilityDaoImpl" />
        <beans:bean id="disponibilityService" class="com.javatpoint.service.DisponibilityServiceImpl" />
        <beans:bean id="mediaDao" class="com.javatpoint.dao.MediaDaoImpl" />
        <beans:bean id="mediaService" class="com.javatpoint.service.MediaServiceImpl" />
	<beans:bean id="geoService" class="com.javatpoint.service.GeoServiceImpl" />
        <beans:bean id="geoDao" class="com.javatpoint.dao.GeoDaoImpl" />
        <beans:bean id="attributeDao" class="com.javatpoint.dao.AttributeDaoImpl" />
        <beans:bean id="attributeService" class="com.javatpoint.service.AttributeServiceImpl" />	
        <beans:bean id="unitAttributeDao" class="com.javatpoint.dao.UnitAttributeDaoImpl" />                
        <beans:bean id="unitAttributeService" class="com.javatpoint.service.UnitAttributeServiceImpl" />
        <beans:bean id="reservationDao" class="com.javatpoint.dao.ReservationDaoImpl" />                
        <beans:bean id="reservationService" class="com.javatpoint.service.ReservationServiceImpl" />	
        <beans:bean id="optionDao" class="com.javatpoint.dao.OptionDaoImpl" />                
        <beans:bean id="optionService" class="com.javatpoint.service.OptionServiceImpl" />
        <beans:bean id="faqDao" class="com.javatpoint.dao.FaqDaoImpl" />                
        <beans:bean id="faqService" class="com.javatpoint.service.FaqServiceImpl" />		
        <beans:bean id="unitCancelOptionDao" class="com.javatpoint.dao.UnitCancelOptionDaoImpl" />                
        <beans:bean id="unitCancelOptionService" class="com.javatpoint.service.UnitCancelOptionServiceImpl" />	
	<beans:bean id="loginValidator" class="com.javatpoint.validator.LoginValidator" />
	<beans:bean id="userValidator" class="com.javatpoint.validator.UserValidator" />
	<beans:bean id="unitValidator" class="com.javatpoint.validator.UnitValidator" />
	<beans:bean id="reservationValidator" class="com.javatpoint.validator.ReservationValidator" />
	<beans:bean id="hotelValidator" class="com.javatpoint.validator.HotelValidator" />
	<beans:bean id="contactValidator" class="com.javatpoint.validator.ContactValidator" />
        <beans:bean id="emailService" class="com.javatpoint.service.EmailServiceImpl" />
        <beans:bean id="securityService" class="com.javatpoint.service.SecurityServiceImpl" />
        
        
	<beans:bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<beans:property name="dataSource" ref="datasource" />
	</beans:bean>

	<!--<beans:bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="org.mariadb.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mariadb://mysql3000.mochahost.com/twrcom1_dbtw" />
		<beans:property name="username" value="twrcom1_tw" />
		<beans:property name="password" value="tw4r2020" />                                
	</beans:bean>
	<bean id="datasource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver" />
		<property name="url" value="jdbc:mariadb://localhost/topweeks" />
		<property name="username" value="root" />
		<property name="password" value="" />                
	</bean>
        -->
        <beans:bean id="datasource" class = "com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <beans:property name="driverClass" value="org.mariadb.jdbc.Driver" />
            <beans:property name="jdbcUrl" value="jdbc:mariadb://localhost/topweeks" />
            <beans:property name="user" value="root" />
            <beans:property name="password" value="" />
            <!-- these are C3P0 properties -->
            <beans:property name="acquireIncrement" value="5" />
            <beans:property name="minPoolSize" value="5" />
            <beans:property name="maxPoolSize" value="600" />
            <beans:property name="maxIdleTime" value="1800" />
        </beans:bean>
        
        
        
        <beans:bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes -->
        <beans:property name="maxUploadSize" value="20971520" /> <!-- 20MB -->
         
        <!-- max size of file in memory (in bytes) -->
        <beans:property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->
 
    </beans:bean>
    
    
	
</beans:beans> 